:root {
    --microsoft-gray: #737373;
    --microsoft-blue: #00a4ef;
    --microsoft-orange: #ffb900;
    --microsoft-green: #7fba00;
    --microsoft-red: #f25022;
}

.reveal .slides ul 
{
    list-style: none
}
.reveal .slides li::before
{
    content: "\2023 ";
    color: var(--microsoft-blue);
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
}

.reveal .slides .tip li::before {
    content: "\1F4A1";
    margin-left: -1.75em;
    padding-right: .25em;
}

.reveal section img {
    border: none;
    box-shadow: none;
}

.reveal .slides section li.faded {
    opacity: .3;
}
